<!DOCTYPE html>
<html>
<head>
  <title>PackageTracker</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css",
    media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', cache: true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= csrf_meta_tags %>

  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd81mUjL99kPTrrVRrv_L5ihEQbEqJ3PY">
  </script>
</head>
<body>

  <div class="wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </div>

</body>
</html>
